{% extends 'includes/base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <div class="box">
        <div class="accordion" name="accordion" id="acc1">Tentang Saya
            <div class="move">
                <div class="move-down" id="down">&#x2B07;</div>
                <div class="move-up" id="up">&#x2B06;</div>
            </div>
        </div>
        
        <div class="panel">
            <p>Nama saya rafli bangsawan, biasa dipanggil awan. Suka bermain gitar.
            </p>
        </div>
    </div>
    <div class="box">
        <div class="accordion">Pengalaman
            <div class="move">
                <div class="move-down">&#x2B07;</div>
                <div class="move-up">&#x2B06;</div>
            </div>
        </div>
        <div class="panel">
            <p><li>
                <ul>Panitia PERAK Fasilkom</ul>
                <ul>Panitia I-Fest Smanda</ul>
                <ul>Panitia TOBK Saimala</ul>
                </li>
            </p>
        </div>
    </div>
    <div class="box">
        <div class="accordion">Aktivitas
            <div class="move">
                <div class="move-down">&#x2B07;</div>
                <div class="move-up">&#x2B06;</div>
            </div>
        </div>
        <div class="panel">
            <p>Diam di rumah
            </p>
        </div>
    </div>
    <div class="box">
        <div class="accordion">Prestasi
            <div class="move">
                <div class="move-down" id="down1">&#x2B07;</div>
                <div class="move-up" id="up1">&#x2B06;</div>
            </div>
        </div>
        <div class="panel">
            <p><li>
                <ul>Medali Perak FLS2N 2018 Nasional</ul>
                <ul>3 Medali Emas Bali International Choir Festival 2018</ul>
                <ul>Juara 2 LCC 4 Pilar Kebangsaan MPR RI</ul>
            </li>
            </p>
        </div>
    </div>
    
</div>
<div class="buttons">
    <button class="theme">Change Theme</button>
</div>



{% endblock %}
{% block script %}
<script src="{% static 'script/accordion.js' %}"></script>
{% endblock %}