{% load static %}
<!DOCTYPE html>
<nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="#">Judul</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSmall">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSmall">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="#" class="nav-link">Story 7</a
          ></li>
      <li class="nav-item">
        <a href="#" class="nav-link">Story 8</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Story 9</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Story 10</a>
      </li>
    </ul>
  </div>
  </nav>