* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: rgba(0, 0, 0, 0.863);
}

.navbar-brand {
    color: #313131;
}

.jumbotron.text-center {
    background-color: #eeeeee;
}

.rounded-circle.z-depth-2 {
    width: 20%;
    padding-bottom: 2%;
}

.container {
    width: 50%;
    background-color: rgb(240, 240, 240);
    padding: 20px;
}
.accordion {
    background-color: rgb(84, 141, 190);
    color: rgb(240, 240, 240);
    width: 100%;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    transition: 0.4s;
    border: 1px solid white;
}

.container .box:first-child .accordion .move .move-up,
.container .box:last-child .accordion .move .move-down {
    display: none;
}

.panel {
    display: none;
    padding: 10px;
    background-color: rgb(227, 241, 253);
    overflow: hidden;
}
.active, .accordion:hover {
    background-color: rgb(15, 71, 121);
}
.accordion:after {
    content: '\02795';
    float: right;
    font-size: 10px;
}
.active:after {
    content: '\02796';
    float: right;
    font-size: 10px;
}
div.move {
        width: 10em; 
        float: right;
}
div.move > div {
        float: left;
        padding-left: 1em;
}
.move-down {
    padding: 5px;
}
.move-up {
    padding: 5px;
}
.buttons {
    display: flex;
    justify-content: center;
}
.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  
  .fa:hover {
    color: darkblue;
  }