{% extends 'includes/base.html' %}
{% load static %}
{% block body %}
<div class="text-center" style="margin-left: 100px; margin-right: 100px;">
    <h1>Login</h1>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-secondary" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
        {% if user.is_authenticated %}
    <h2 id="username-display">Welcome, {{user.username}}</h2>
    <div class="centre-items tombol">
        <a class="btn custom-button" href="{% url 'login:logOut' %}" id='logout'>Logout</a>
    </div>

    {% else %}
    <div class='form'>
        <form action="" method="POST">
            {% csrf_token %} {{ form }}
            <div class="centre-items" style="margin-top: 2vh; margin-bottom: 2vh;">
                <input type="submit" class="btn custom-button" value="Login" id="submit">
            </div>
        </form>
        <a href="{% url 'login:signup' %}" style="color: rgb(148, 148, 148);"
        id="sign-up">Sign up here</a>!
        {% endif %}
</div>

{% endblock %}
