{% extends 'includes/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

<div class="text-center">
    <h1>Sign Up</h1>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-secondary" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field|as_crispy_field }}
        </div>
        {% endfor %}
        <button type="submit" id="submit-button">Sign up</button>
    </form>
</div>
{% endblock %}
