{% extends 'includes/base.html' %}
{% load static %}
{% block body %}
<div class="md-form mb-3 mt-0">
    <input class="form-control" id="searchBox" type="text" placeholder="Search" aria-label="Search" onchange="getData()">
    <button class="btn btn-elegant btn-rounded btn-sm my-0" id="sendButton" type="submit">Search</button>
</div>
<table class="table table-dark" id="theTable">
</table>
{% endblock %}
{% block script %}
<script src="{% static 'script/book.js' %}"></script>
{% endblock %}
