{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <form action="confirmation/" method="POST">
        <table>
            {% csrf_token %}
            {{ form }}
        </table>
        <input type="submit" value="Submit" name="submit-btn">
    </form>
</div>

<div>
    <table>
        {% for person in persons %}
            <tr>
                <td>Name: {{ person.nama }}</td>
                <td>Message: {{ person.pesan }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
