{% extends 'base.html' %}
{% load static %}


{% block body %}
    <h1>Apa kamu yakin akan mengirim pesan ini?</h1>
    <p>Nama: {{ nama }}</p>
    <p>Pesan: {{ pesan }}</p>
    <div>
        <form action="/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="nama" value="{{ nama }}">
            <input type="hidden" name="pesan" value="{{ pesan }}">

            <input type="submit" value="Confirm" name="confirm">
        </form>

        <form action="/" method="GET">
            <input type="submit" value="Cancel" name="cancel">
        </form>
    </div>

{% endblock %}
